<h2>Edit Client</h2>

<div class="container-fluid">
	<button class="btn btn-success">
		<%= link_to 'Show', @client_workout %> 
	</button>

	<button class="btn btn-warning">
		<%= link_to 'Back', client_workouts_path %>
	</button>
</div>

<%= render 'form', client_workout: @client_workout %>